MassiveDynamicsSocialGame/wsclient/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MassiveDynamicsWService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.31.101.112/MassiveDynamicsWService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.31.101.112/MassiveDynamicsWService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMassiveDynamicsWService_authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:message name="IMassiveDynamicsWService_authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IMassiveDynamicsWService_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="IMassiveDynamicsWService_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMassiveDynamicsWService_getRelacoes_InputMessage">
    <wsdl:part name="parameters" element="tns:getRelacoes" />
  </wsdl:message>
  <wsdl:message name="IMassiveDynamicsWService_getRelacoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRelacoesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMassiveDynamicsWService">
    <wsdl:operation name="authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/authenticate" message="tns:IMassiveDynamicsWService_authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/authenticateResponse" message="tns:IMassiveDynamicsWService_authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/getUsers" message="tns:IMassiveDynamicsWService_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/getUsersResponse" message="tns:IMassiveDynamicsWService_getUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRelacoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/getRelacoes" message="tns:IMassiveDynamicsWService_getRelacoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMassiveDynamicsWService/getRelacoesResponse" message="tns:IMassiveDynamicsWService_getRelacoes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMassiveDynamicsWService" type="tns:IMassiveDynamicsWService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://tempuri.org/IMassiveDynamicsWService/authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/IMassiveDynamicsWService/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelacoes">
      <soap:operation soapAction="http://tempuri.org/IMassiveDynamicsWService/getRelacoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MassiveDynamicsWService">
    <wsdl:port name="BasicHttpBinding_IMassiveDynamicsWService" binding="tns:BasicHttpBinding_IMassiveDynamicsWService">
      <soap:address location="http://172.31.101.112/MassiveDynamicsWService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>